body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background: #222;
    padding: 20px;
    text-align: center;
}

nav a {
    color: #ff6;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 50px;
    text-align: center;
    border-bottom: 1px solid #333;
}

footer {
    background: #222;
    text-align: center;
    padding: 20px;
}
